{% extends "shared/base.html" %}

{% block body %}
    <nav class="navbar navbar-default my-navbar-cut">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand my-navbar-brand" href="/homepage">CU Online Health Care Platform</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/model" id="nav-model" class="my-navbar-li">3D Human body</a></li>
                    <li><a href="/category" id="nav-category" class="my-navbar-li">Categorized A-Z</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="my-navbar-li" id="myRegister"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#" class="my-navbar-li" id="myLogin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="/search" id="nav-search" class="my-navbar-li"><span
                            class="glyphicon glyphicon-search"></span> Search</a></li>
                </ul>
            </div>
        </div>
    </nav>
	
	<script>
		var path = window.location.pathname;
		if( path == "/search"){
			var target = document.getElementById('nav-search');
			$(target).addClass("my-navbar-active");
			$(target).removeClass("my-navbar-li");
		}
		else if(path == "/model"){
			var target = document.getElementById('nav-model');
			$(target).addClass("my-navbar-active");
			$(target).removeClass("my-navbar-li");
		}
		else if(path == "/category"){
			var target = document.getElementById('nav-category');
			$(target).addClass("my-navbar-active");
			$(target).removeClass("my-navbar-li");
		}
	</script>
	
	<div class="container">
	  <!-- Modal Login-->
	  <div class="modal fade" id="myModalLogin" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header" style="padding:35px 50px;">
			  <button type="button" class="close" style="color:white !important;" data-dismiss="modal">&times;</button>
			  <h4 class="my-modal-h4"><span class="glyphicon glyphicon-lock"></span> Login</h4>
			</div>
			<div class="modal-body" style="padding:40px 50px;">
			  <form role="form">
				<div class="form-group">
				  <label for="usrname"><span class="glyphicon glyphicon-envelope"></span> Email</label>
				  <input type="text" class="form-control" id="email" placeholder="Enter email">
				</div>
				<div class="form-group">
				  <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
				  <input type="text" class="form-control" id="password" placeholder="Enter password">
				</div>
				<div class="checkbox">
				  <label><input type="checkbox" value="" checked>Remember me</label>
				</div>
				  <button type="submit" class="btn my-modal-btn btn-block"><span class="glyphicon glyphicon-ok"></span> Login</button>
			  </form>
			</div>
			<div class="modal-footer">
			  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			  <p>Not a member? <a href="#">Sign Up</a></p>
			  <p>Forgot <a href="#">Password?</a></p>
			</div>
		  </div>
		  
		</div>
	  </div> 
	  
	  <!-- Modal Sign in-->
	  <div class="modal fade" id="myModalRegister" role="dialog">
		<div class="modal-dialog">
		
		  <!-- Modal content-->
		  <div class="modal-content">
			<div class="modal-header" style="padding:35px 50px;">
			  <button type="button" class="close" style="color:white !important;" data-dismiss="modal">&times;</button>
			  <h4 class="my-modal-h4"><span class="glyphicon glyphicon-file"></span> Sign up</h4>
			</div>
			<div class="modal-body" style="padding:40px 50px;">
			  <form id="signup-form" role="form">
			    <div class="form-group">
				  <label for="email"><span class="glyphicon glyphicon-envelope"></span> Email*</label>
				  <input type="text" class="form-control" id="signup-email" placeholder="Enter email">
				  <span id="signup-email-ok" class="glyphicon glyphicon-ok signup-email-check" style="display:none;"> Ok</span>
				  <span id="signup-email-invalid" class="glyphicon glyphicon-remove signup-email-check" style="display:none;"> Invalid Email Address</span>
				  <span id="signup-email-used" class="glyphicon glyphicon-remove signup-email-check" style="display:none;"> This email has been used</span>
				</div>
				<div class="form-group">
				  <label for="username"><span class="glyphicon glyphicon-user"></span> Username*</label>
				  <input type="text" class="form-control" id="signup-username" placeholder="Enter username">
				  <span id="signup-username-ok" class="glyphicon glyphicon-ok signup-username-check" style="display:none;"> Ok</span>
				  <span id="signup-username-empty" class="glyphicon glyphicon-remove signup-username-check" style="display:none;"> Username can't be empty</span>
				</div>
				<div class="form-group">
				  <label for="password"><span class="glyphicon glyphicon-eye-open"></span> Password*</label>
				  <input type="password" class="form-control" id="signup-password" placeholder="Enter password">
				  <span id="signup-password-ok" class="glyphicon glyphicon-ok signup-password-check" style="display:none;"> Ok</span>
				  <span id="signup-password-empty" class="glyphicon glyphicon-remove signup-password-check" style="display:none;"> Password can't be empty</span>
				</div>
				<div class="form-group">
				  <label for="checkPassword"><span class="glyphicon glyphicon-eye-open"></span> Check Password*</label>
				  <input type="password" class="form-control" id="signup-checkPassword" placeholder="Check password">
				  <span id="signup-checkPassword-ok" class="glyphicon glyphicon-ok signup-checkPassword-check" style="display:none;"> Ok</span>
				  <span id="signup-checkPassword-notMatch" class="glyphicon glyphicon-remove signup-checkPassword-check" style="display:none;"> Password does not match</span>
				</div>
				<!-- <div class="checkbox">
				  <label><input type="checkbox" value="" checked>Remember me</label>
				</div> -->
				  <button type="submit" class="btn my-modal-btn btn-block"><span class="glyphicon glyphicon-ok"></span> Register</button>
			  </form>
			</div>
		  </div>
		  
		</div>
	  </div>
	</div>
	
<script>
// var signupCheck = {email:false, username:false, password:false, passwordMatch:false};
// function signupCheckEmail(){
// 	var email = $('#signup-email').val().trim();
// 	var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
// 	if(!re.test(email)){
// 		signupCheck.email = false;
// 		$('.signup-email-check').hide();
// 		$('#signup-email-invalid').show();
// 		return;
// 	}
// 	$.ajax({
// 		url:'/api/user/' + email,
// 		type:'GET',
// 		dataType:'json',
// 		success:function(data){
// 			$('.signup-email-check').hide();
// 			if(!data['exist']){
// 				signupCheck.email = true;
// 				$('#signup-email-ok').show();
// 			}else{
// 				signupCheck.email = false;
// 				$('#signup-email-used').show();
// 			}
// 		}
// 	});
// }

// function signupCheckPassword(){
// 	$('.signup-checkPassword-check').hide();
// 	if($('#signup-password').val() == $('#signup-checkPassword').val()){
// 		signupCheck.passwordMatch = true;
// 		$('#signup-checkPassword-ok').show();
// 	}else{
// 		signupCheck.passwordMatch = false;
// 		$('#signup-checkPassword-notMatch').show();
// 	}
// }

// $(document).ready(function(){
//     $("#myRegister").click(function(){
//         $("#myModalRegister").modal();
//     });
// 	$("#myLogin").click(function(){
//         $("#myModalLogin").modal();
//     });
//     $('#signup-email').blur(signupCheckEmail);
//     $('#signup-checkPassword').blur(signupCheckPassword);
//     $('#signup-password').blur(function(){
//     	$('.signup-password-check').hide();
//     	if($('#signup-password').val() != ''){
//     		signupCheck.password = true;
//     		$('#signup-password-ok').show();
//     	}else{
//     		signupCheck.password = false;
//     		$('#signup-password-empty').show();
//     	}
//     });
//     $('#signup-username').blur(function(){
//     	$('.signup-username-check').hide();
//     	if($('#signup-username').val() != ''){
//     		signupCheck.username = true;
//     		$('#signup-username-ok').show();
//     	}else{
//     		signupCheck.username = false;
//     		$('#signup-username-empty').show();
//     	}
//     });
//     $('#signup-form').submit(function(event){
//     	//alert('form submitted');
//     	event.preventDefault();
//     	//console.log(signupCheck);
//     	//console.log($('#signup-email').val().trim() + $('#signup-password') + $('#signup-username'))
//     	if(!signupCheck.email || !signupCheck.username || !signupCheck.password || !signupCheck.passwordMatch){
//     		alert('Please check the form again.');
//     		return;
//     	}
//     	$.ajax({
//     		url: '/api/user',
//     		type: 'POST',
//     		dataType: 'json',
//     		data:JSON.stringify({email:$('#signup-email').val().trim(), password:$('#signup-password').val(), username:$('#signup-username').val(), gender:'male', age:22}),
//     		contentType:'application/json',
//     		success:function(data){
//     			console.log(data);
//     		},
//     		error:function(data){
//     			alert('error');
//     		}
//     	});
//     });
// });
</script>

    <div class="container-fluid my-jumbotron-container-adjust">
        <div class="jumbotron my-jumbotron ">
            <div class="container">
                <h1 class="my-jumbotron-h1">Getting started</h1>

                <p class="my-jumbotron-p">Your personal health care advicer.</p>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}
{% endblock %}