{% extends "shared/base.html" %}

{% block body %}
    <nav class="navbar navbar-default my-navbar-cut">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand my-navbar-brand" href="/homepage">CU Online Health Care Platform</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/model" id="nav-model" class="my-navbar-li">3D Human body</a></li>
                    <li><a href="/category" id="nav-category" class="my-navbar-li">Categorized A-Z</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" class="my-navbar-li"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="#" class="my-navbar-li"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="/search" id="nav-search" class="my-navbar-li"><span
                            class="glyphicon glyphicon-search"></span> Search</a></li>
                </ul>
            </div>
        </div>
    </nav>
	
	<script>
		var path = window.location.pathname;
		if( path == "/search"){
			var target = document.getElementById('nav-search');
			$(target).addClass("my-navbar-active");
			$(target).removeClass("my-navbar-li");
		}
		else if(path == "/model"){
			var target = document.getElementById('nav-model');
			$(target).addClass("my-navbar-active");
			$(target).removeClass("my-navbar-li");
		}
		else if(path == "/category"){
			var target = document.getElementById('nav-category');
			$(target).addClass("my-navbar-active");
			$(target).removeClass("my-navbar-li");
		}
	</script>

    <div class="container-fluid my-jumbotron-container-adjust">
        <div class="jumbotron my-jumbotron ">
            <div class="container">
                <h1 class="my-jumbotron-h1">Getting started</h1>

                <p class="my-jumbotron-p">Your personal health care advicer.</p>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}
{% endblock %}