{% extends "shared/nav.html" %}

{% block head %}
{% endblock %}

{% block content %}
    <script type="text/javascript" src="../static/js/record.js"></script>
    <script type="text/javascript">
        function updateEvaluationValue(value){
            $('#satisfyingValue').text(value);
        }
    </script>

    <!-- Record Modal -->
    <div id="collectModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add this disease to my collection</h4>
            </div>
            <div class="modal-body">
                <form id="record-add-form" role="form">
                    <div class="form-group">
                        <label for="disease-name"><span class="glyphicon glyphicon-envelope"></span> Disease Name</label>
                        <h3>{{ disease.name }}</h3>
                    </div>
                    <div class="form-group">
                        <label for="record-add-comment"> Remark</label>
                        <textarea id="record-add-comment" class="form-control" placeholder="Write down some remarks here..." style="resize:none;"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="record-add-comment"> Evaluation</label>
                        <input type="range" id="record-add-satisfying" min="0" max="10" onchange="updateEvaluationValue(this.value);" style=""></input>
                        <p>You give <span id="satisfyingValue">5</span> point(s) to the content of this disease introduction.</p>
                    </div>
                    <button type="submit" class="btn my-modal-btn btn-block"><span class="glyphicon glyphicon-ok"></span> Submit</button>
                </form>
            </div>
        </div>
      </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-9" style="margin-top:20px;">
                <button id="collect" data-toggle="modal" data-target="#collectModal" class="btn btn-info btn-lg" style="width:140px;display:none;"><span class="glyphicon glyphicon-star-empty"> Collect</span></button>
                <button id="collected" class="btn btn-success btn-lg" style="width:140px;display:none;"><span class="glyphicon glyphicon-star"> Collected</span></button>
                <h4 id="nonuser" style="display:none">Please login to collect diseases.</h4>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-h1-disease">{{ disease.name }}</h1>
            </div>

            {% if disease.description %}
                <div class="col-md-12">
                    <h3 class="my-h3-disease">Introduction</h3>
                </div>
                <div class="col-md-12">
                    {% for sub_title in disease.description %}
                        <h4>{{ sub_title }}</h4>
                        <p>{{ disease.description[sub_title] }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if disease.symptoms %}
                <div class="col-md-12">
                    <h3 class="my-h3-disease">Symptoms</h3>
                </div>
                <div class="col-md-12">
                    <ul>
                        {% for symptom in disease.symptoms %}
                            <li>{{ symptom.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if disease.causes %}
                <div class="col-md-12">
                    <h3 class="my-h3-disease">Causes</h3>
                </div>
                <div class="col-md-12">
                    {% for sub_title in disease.causes %}
                        <h4>{{ sub_title }}</h4>
                        <p>{{ disease.causes[sub_title] }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if disease.treatment %}
                <div class="col-md-12">
                        <h3 class="my-h3-disease">Treatement</h3>
                </div>
                <div class="col-md-12">
                    {% for sub_title in disease.treatment %}
                        <h4>{{ sub_title }}</h4>
                        <p>{{ disease.treatment[sub_title] }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if disease.prevention %}
                <div class="col-md-12">
                    <h3 class="my-h3-disease">Prevention</h3>
                </div>
                <div class="col-md-12">
                    {% for sub_title in disease.prevention %}
                        <h4>{{ sub_title }}</h4>
                        <p>{{ disease.prevention[sub_title] }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if disease.possible_complications %}
                <div class="col-md-12">
                    <h3 class="my-h3-disease">Possible Complications</h3>
                </div>
                <div class="col-md-12">
                    {% for sub_title in disease.possible_complications %}
                        <h4>{{ sub_title }}</h4>
                        <p>{{ disease.possible_complications[sub_title] }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {% if disease.exams_and_tests %}
                <div class="col-md-12">
                    <h3 class="my-h3-disease">Exam and Tests</h3>
                </div>
                <div class="col-md-12">
                    {% for sub_title in disease.exams_and_tests %}
                        <h4>{{ sub_title }}</h4>
                        <p>{{ disease.exams_and_tests[sub_title] }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}