{% extends "shared/nav.html" %}

{% block content %}
<script> 

var show3D = false;

$(document).ready(function(){
	$("#genderSwitch").click(function(){
		if($("#myFrame").attr("src").indexOf("testMale") >= 0 ){
			$("#myFrame").attr("src","/static/summer/testFemale.html");
			$( '#myFrame' ).attr( 'src', function ( i, val ) { return val; });
            gender = "female";
		}
		else{
			$("#myFrame").attr("src","/static/summer/testMale.html");
			$( '#myFrame' ).attr( 'src', function ( i, val ) { return val; });
            gender = "male";
		}
        $("#current-gender").html(gender);
		show3D = true;
		$('#myFrame').show();
		$('#level1-image').hide();
	})
	$("#modelDisplay").click(function(){
		show3D = true;
		$('#myFrame').show();
		$('#level1-image').hide();
		$(this).hide();
	})
});

var firstVisit ="0";

//a function that can delete all special characters
function stripscript(s) { 
	var pattern = new RegExp("[`~!@#$^&*()=|{}':;',\\[\\].<>/?~！@#￥……&*（）——|{}【】‘；：”“'。，、？]") 
	var rs = ""; 
	for (var i = 0; i < s.length; i++) { 
		rs = rs+s.substr(i, 1).replace(pattern, ''); 
	} 
	return rs; 
} 

function get_position_lev1(level1){
	if(level1 == "")
		return;
	$.ajax({
		url:'/api/position/level1/' + level1+ '/' + gender,
		type:'GET',
		dataType: 'json',
		success:function(data){
			if(data["Err"] != null){
				alert(data["Err"]);
				return;
			}
			var targetDiv = document.getElementById('selectLev');
			var str = "";
			for(var i = 0; i < data.length; i++){
				str += "<a class='list-group-item my-list-group-item flip' ";
				str += "name='";
				temp = data[i][1];
				temp = temp.replace(/ /g,'');
				temp = stripscript(temp);
				console.log(temp);
				str += temp;
				str += "'";
				str += "onclick='getLev2(this)'>";
				str += data[i][1];
				str += "</a>";
			}
			targetDiv.innerHTML = str;
			if(show3D == true){
				$('#myFrame').hide();
				var path = "../static/summer/images/";
				path += gender;
				path += "-";
				path += level1;
				path += ".png";
				console.log(path);
				$('#level1-image').attr("src",path);
				$('#level1-image').show();
				$('#modelDisplay').show();
			}
			show3D = true;
			if( firstVisit == "1"){
				firstVisit = "0";
				$("#panel").slideToggle("slow");
			}
		},
		error:function(){

		}
	});
}


function get_position(level1, level2){
	if(level1 == "" || level2 == "")
		return;
	$.ajax({
		url:'/api/diseases/position',
		type:'POST',
		dataType:'json',
		data:JSON.stringify({level1: level1, level2: level2}),
		contentType:'application/json',
		success:function(data){
			if(data["Err"] != null){
				alert(data["Err"]);
				return;
			}
			var targetDiv = document.getElementById('selectLev2');
			var str = "";
			if(firstVisit == "1"){
				$("#panel").slideToggle("slow");
			}
			firstVisit = "1";
			for(var i = 0; i < data.length; i++){
				str += "<a class='list-group-item my-list-group-item' ";
				str += "href='/disease/";
				str += data[i][0];
				str += "'>";
				str += data[i][1];
				str += "</a>";
			}
			targetDiv.innerHTML = str;
		},
		error:function(){

		}
	});
}

</script>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<h1	class="my-h1-homepage">3D Human Body</h1>
		</div>
		<div class="col-md-7">
            <p  class="my-current-gender" style="float:left;"><span id="current-gender"></span><a  class="my-gender-switch" id="genderSwitch">change gender >></a></p>
			<p  class="my-current-gender" ><a  class="my-gender-switch" id="modelDisplay" style="position:'relative'; top:12px; display:none;">back to 3D >></a></p>
		</div>
		
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-5">
			<iframe  
			id="myFrame" 
			name="theFrame"
			class="my-frame" 
			style="display:hidden"
			scrolling="no" 
			seamless="seamless"
			src="/static/summer/testMale.html"></iframe>
			<img id="level1-image" src="../static/summer/images/female-head.png" style="display:none;">
		</div>
		<div>
			<div class="col-md-3" >
				<h2 class="my-second-select">Select an area</h2>
				<div class="list-group" id="selectLev">
					
				</div>
			</div>
		</div>
		<div class="col-md-4" id="panel">
			<h2 class="my-third-select">Select a disease</h2>
			<div class="list-group" id="selectLev2">
			<!--
				<a href="#" class="list-group-item my-list-group-item">Angina</a>
				<a href="#" class="list-group-item my-list-group-item ">Blood pressure</a>
				<a href="#" class="list-group-item my-list-group-item ">Brugada</a>
				<a href="#" class="list-group-item my-list-group-item ">Heart attack</a>
				<a href="#" class="list-group-item my-list-group-item ">Heart block</a>
				<a href="#" class="list-group-item my-list-group-item ">Pacemaker implantation </a>
				<a href="#" class="list-group-item my-list-group-item ">Wolff-Parkinson-White syndrome</a>
				-->
			</div>
		</div>
	</div>
</div>

<script>
//global variable
var position_level1;
var position_level2;
var last_level1_highlight;
var target_disease_id;
var gender = "male";

//Fill gender <p>
$("#current-gender").html(gender);

//default select level1
var default_lev1 = "chest";
//var default_lev2 = "Lungs";
position_level1 = default_lev1;
get_position_lev1(default_lev1);
//get_position(default_lev1,default_lev2);

var eventMethod = window.addEventListener ? "addEventListener" : "attachEvent";
var eventer = window[eventMethod];
var messageEvent = eventMethod == "attachEvent" ? "onmessage" : "message";

// Listen to message from child window
eventer(messageEvent,function(e) {
	var key = e.message ? "message" : "data";
    var data = e[key];
	position_level1 = data;
	get_position_lev1(data);
},false);

$(window).on("positionChanged", function(e){
    position_level1 = e.originalEvent.position;
    get_position_lev1(position_level1);
	if( firstVisit == "1"){
		firstVisit = "0";
		$("#panel").slideToggle("slow");
	}
});

$('.filp').on("mouseenter",function(){

});
$('.filp').on("mouseleave",function(){

});

function getLev2(temp){
	$(temp).removeClass('my-list-group-item');
	$(temp).addClass('my-list-group-item-active');
	$(last_level1_highlight).addClass('my-list-group-item');
	$(last_level1_highlight).removeClass('my-list-group-item-active');
	last_level1_highlight = temp;
	position_level2 = temp.innerHTML;
	get_position(position_level1,position_level2);
	$("#panel").slideToggle("slow");
}


</script>

{% endblock %}