{% extends "shared/nav.html" %}

{% block content %}
    <script>
        var disease_queue = [];
        function add() {
            var symptom = document.getElementById("inputSymptom");
            if (symptom.value.trim() != "") {
                symptom = symptom.value.trim();
                var newDiv = $('<div />', {
                    'class': "btn-group"
                });
                $(newDiv).css({
                    "margin": "10px"
                });
                var btn1 = $('<button/>', {
                    'class': "btn btn-primary user-input"
                });
                $(btn1).html(symptom).css({
                    "color": "rgb(255,255,255)",
                    "background-color": "rgb(212,96,93)",
                    "border": "1px solid rgb(212,96,93)"
                });
                $(btn1).appendTo(newDiv);
                var btn2 = $('<button/>', {
                    'class': "btn btn-primary tag-close"
                });
                $(btn2).css({
                    "color": "rgb(255,255,255)",
                    "background-color": "rgb(212,96,93)",
                    "border": "1px solid rgb(212,96,93)"
                });
                var mySpan = $('<span/>', {
                    'class': "glyphicon glyphicon-remove"
                }).appendTo(btn2);
                $(btn2).appendTo(newDiv);
                $(newDiv).appendTo("#tag-group");
                // $(btn2).click(function () {
                //     $(this).parent().remove();
                // });
                $('#inputSymptom').val('');
            }
        }

        function search() {
            var symptoms = getSymptomsListFromInput();
            retrieveSynonym(symptoms);
        }

        function getSymptomsListFromInput() {
            var userInputs = $("button").filter(".user-input");
            if (userInputs.length > 0) {
                startLoading();
                disease_queue = [];
                var symptoms = [];
                for (var i = 0; i < userInputs.length; i++) {
                    symptoms[i] = userInputs[i].innerHTML;
                }
            }
            return symptoms;
        }

        function synonymCallbackWrapper(index, symptoms, synonymSymptoms, ready) {
            return function (data) {
                for (var j = 0; j < data.length; j++) {
                    if (data[j] && data[j] != symptoms[index]) {
                        synonymSymptoms[index].push(data[j])
                    }
                }
                ready[index] = true;
                var allReady = true;
                for (var k = 0; k < symptoms.length; k++) {
                    allReady &= ready[k];
                }
                if (allReady) {
                    getMatchedDiseases(synonymSymptoms)
                }
            }
        }

        function retrieveSynonym(symptoms) {
            var ready = [], synonymSymptoms = [];
            for (var i = 0; i < symptoms.length; i++) {
                ready[i] = false;
                synonymSymptoms[i] = [symptoms[i]];
            }
            for (i = 0; i < symptoms.length; i++) {
                $.ajax({
                    url: '/api/service/search-synonym/' + symptoms[i],
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    success: synonymCallbackWrapper(i, symptoms, synonymSymptoms, ready)
                })
            }
        }
        function getMatchedDiseases(synonymSymptoms) {
            var jsonString = JSON.stringify(synonymSymptoms);
            $.ajax({
                url: '/api/service/symptom-match',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: jsonString,
                success: function (data) {
                    var divDisplay = document.getElementById("searchResults");
                    var str = "", diseaseQueue = [];
                    for (var index in data) {
                        diseaseQueue.push(data[index]["id"]);
                        str += "<h2 class='col-md-12'><a class='my-search-disease-name'>";
                        str += data[index]["name"];
                        str += "</a></h2>";
                        str += "<h4 class='col-md-2 my-search-disease-match1'>Its symptoms:</h4>";
                        str += "<div id=\"symptoms-loading" + data[index]["id"] + "\"><img src=\"/static/loading.gif\" style=\"width:30px; height:30px;\"></div>";
                        //str += "<div id=\"symptoms-list" + data[index]["id"] + "\" class='btn-group my-search-btn-group' ></div>";

                        str += '<div class="dropdown dropdown-list-' + data[index]["id"] + '" style="display:none;"><button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Symptom List<span class="caret"></span></button><ul class="dropdown-menu symptom-list-' + data[index]["id"] + '" aria-labelledby="dropdownMenu1"></ul></div>';
                        //wait until the ajax data was sent back
                        // $.ajax({
                        // 	url:'/api/diseases/' + data[index]["id"],
                        // 	type:'GET',
                        // 	dataType:'json',
                        // 	//async: false,
                        // 	success:function(data){
                        // 		var temp = data;
                        // 		symptom_list(temp);
                        // 		// for(var i = 0; i < data.symptoms.length; i++){
                        // 		// 	str += "<div class='btn-group my-search-btn-group' ><button type='button' class='btn btn-primary my-search-btn-symptom' >";
                        // 		// 	str += data.symptoms[i].name;
                        // 		// 	str += "</button></div>";
                        // 		// }
                        // 	},
                        // 	error:function(){
                        // 		console.log('Fail to get symptoms list');
                        // 		//alert('Failed to get data.');
                        // 	}
                        // })
                        str += "<p class='col-md-12'>";
                        str += data[index]["description"];
                        str += "</p>";
                    }
                    divDisplay.innerHTML = str;
                    endLoading();
                    getDiseasesDetail(diseaseQueue);
                },
                error: function () {
                    alert('Fail to get search result.');
                    $('.loading').hide();
                    $('.result').hide();
                    $('#search-btn').prop('disabled', false);
                }
            })
        }

        function symptom_list(data) {
            for (var i in data.symptoms) {
                $('ul.symptom-list-' + data.id).append('<li><a class="list-group-item my-search-result-symptom" onclick="addResult(this)"><span class="glyphicon glyphicon-plus"></span>' + data.symptoms[i].name + '</a></li>');
            }
            $('#symptoms-loading' + data.id).hide();
            $('div.dropdown-list-' + data.id).show();
        }

        function startLoading() {
            $('.loading').show();
            $('.result').hide();
            $('#search-btn').prop('disabled');
        }

        function endLoading() {
            $('.loading').hide();
            $('.result').show();
            $('#search-btn').prop('disabled', false);
        }

        function addResult(temp) {
            var symptom = temp.innerHTML;
            symptom = symptom.split("</span>");
            symptom = symptom[1];
            console.log(symptom);
            var newDiv = $('<div />', {
                'class': "btn-group"
            });
            $(newDiv).css({
                "margin": "10px"
            });
            var btn1 = $('<button/>', {
                'class': "btn btn-primary user-input"
            });
            $(btn1).html(symptom).css({
                "color": "rgb(255,255,255)",
                "background-color": "rgb(212,96,93)",
                "border": "1px solid rgb(212,96,93)"
            });
            $(btn1).appendTo(newDiv);
            var btn2 = $('<button/>', {
                'class': "btn btn-primary"
            });
            $(btn2).css({
                "color": "rgb(255,255,255)",
                "background-color": "rgb(212,96,93)",
                "border": "1px solid rgb(212,96,93)"
            });
            var mySpan = $('<span/>', {
                'class': "glyphicon glyphicon-remove"
            }).appendTo(btn2);
            $(btn2).appendTo(newDiv);
            $(newDiv).appendTo("#tag-group");
            $(btn2).click(function () {
                $(this).parent().remove();
                search();
            });
            search();
        }

        function getDiseasesDetail(diseaseQueue) {
            $.ajax({
                url: '/api/diseases',
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(diseaseQueue),
                success: function (data) {
                    for (var diseaseId in data) {
                        symptom_list(data[diseaseId]);
                    }
                },
                error: function () {
                    console.log('Fail to get symptoms list');
                    //alert('Failed to get data.');
                }
            })
        }

$(document).ready(function(){
    $('#tag-group').delegate('.tag-close', 'click', function(){
        $($(this).parent().remove());
        search();
    })
});
    </script>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="my-h1-homepage" style="margin-bottom:15px !important;">How to start search</h1>

                <p>1. Type in a symptom in the input box and press <code>Add it</code> to add a keyword tag. One symptom
                    each time.</p>

                <p>2. After type in all your symptoms, press <code>Search</code>.</p>

                <p>3. The searching results may remind you some symptoms and you can click them to add them as a keyword
                    tag.</p>

                <p>4. Then, press the <code>Search</code> and you will have a more specific search.</p>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-h1-homepage">Type in your symptoms here</h1>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <input class="form-control" id="inputSymptom" type="text" placeholder="Type in a symptom">
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-default my-search-btn-add" onclick="add()">Add it</button>
            </div>
            <div class="col-md-1">
                <button type="button" id="search-btn" class="btn btn-default my-search-btn-add" onclick="search()">
                    Search
                </button>
            </div>

        </div>
    </div>

    <div class="container">
        <div class="row" id="tag-group">
            <div class="btn-group">
            </div>
        </div>
    </div>

    <div class="container loading" style="display:none">
        <div id="loading">
            <img src="/static/loading.gif" style="width:100px; height=100px;"/>
        </div>
    </div>

    <div class="container result" style="display:none">
        <div class="col-md-12">
            <h1 class="my-h1-search">Searching Results</h1>
        </div>
        <!-- <div class="row">

            <h2 class="col-md-12"><a class="my-search-disease-name">Disease A</a></h2>

            <h4 class="col-md-2 my-search-disease-match1">Matched Disease:</h4>
            <h4 class="col-md-10 my-search-disease-match2">3</h4>
            <h4 class="col-md-2 my-search-disease-match1">Its symptoms:</h4>

            <div class="btn-group my-search-btn-group" >
              <button type="button" class="btn btn-primary my-search-btn-symptom" >symptom1</button>
            </div>
            <div class="btn-group my-search-btn-group" >
              <button type="button" class="btn btn-primary my-search-btn-symptom">symptom2</button>
            </div>
            <div class="btn-group my-search-btn-group" >
              <button type="button" class="btn btn-primary my-search-btn-symptom">symptom3</button>
            </div>
            <div class="btn-group my-search-btn-group" >
              <button type="button" class="btn btn-primary my-search-btn-symptom">symptom4</button>
            </div>

            <p class="col-md-12">
                Disease A is a xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx
                xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxx
                xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx xxxxx......</p>
        </div> -->
        <div class="row" id="searchResults">
        </div>
    </div>

    <script>
        $(".my-search-btn-symptom").click(function () {
            var symptom = this.innerHTML;
            var newDiv = $('<div />', {
                'class': "btn-group"
            });
            $(newDiv).css({
                "margin": "10px"
            });
            var btn1 = $('<button/>', {
                'class': "btn btn-primary user-input"
            });
            $(btn1).html(symptom).css({
                "color": "rgb(255,255,255)",
                "background-color": "rgb(212,96,93)",
                "border": "1px solid rgb(212,96,93)"
            });
            $(btn1).appendTo(newDiv);
            var btn2 = $('<button/>', {
                'class': "btn btn-primary tag-close"
            });
            $(btn2).css({
                "color": "rgb(255,255,255)",
                "background-color": "rgb(212,96,93)",
                "border": "1px solid rgb(212,96,93)"
            });
            var mySpan = $('<span/>', {
                'class': "glyphicon glyphicon-remove"
            }).appendTo(btn2);
            $(btn2).appendTo(newDiv);
            $(newDiv).appendTo("#tag-group");
            // $(btn2).click(function () {
            //     $(this).parent().remove();
            // })
        });
    </script>


{% endblock %}